VITE_SUPABASE_URL=https://uhwucbrpqogqwxkvzioe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVod3VjYnJwcW9ncXd4a3Z6aW9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY3ODk3MDAsImV4cCI6MjEwMjM2NTcwMH0.WzGVE_LGncZufR80kuqawCENhYk2nlg9dgUPjVkjWHw
